.container-nav {
  min-height: 60px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 2rem; */
  flex: 1;
}

a {
  font-weight: 600;
  text-transform: uppercase;
  padding: 0 1rem;
  flex-wrap: nowrap;
}

.right-menu {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.w {
  width: 3.6rem;
  height: 3.6rem;
}

li {
    padding: 15px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

li a {
    font-weight: 600;
}